#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [4]:
table = pd.read_sql_query('SELECT * FROM stats.users' , engine)

#### 5. Rename Id column to userId

In [5]:
user = table.rename(columns = {'Id' : 'userId'})
user.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [6]:
table2 = pd.read_sql_query('SELECT * FROM stats.posts' , engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [30]:
table3 = table2.rename(columns = {'Id' : 'postId' , 'OwnerUserId' :'userId'})
table3.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [31]:
users_columns = ['userId','Reputation','Views', 'UpVotes', 'DownVotes']

posts_columns = ['postId', 'Score','userId', 'ViewCount', 'CommentCount']

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [32]:
merges = pd.merge(user, table3, on ='userId')
merges.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2014-04-23 13:43:43,NaT,NaN,NaT,None,None
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:40:28,NaT,NaN,NaT,None,None
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:46:43,NaT,NaN,NaT,None,None
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [39]:
null_cols = merges.isnull().sum()
null_cols

userId                       0
Reputation                   0
CreationDate                 0
DisplayName                  0
LastAccessDate               0
WebsiteUrl               58513
Location                 50132
AboutMe                  48900
Views                        0
UpVotes                      0
DownVotes                    0
AccountId                    0
Age                      63780
ProfileImageUrl          66521
postId                       0
PostTypeId                   0
AcceptedAnswerId         76021
CreaionDate                  0
Score                        0
ViewCount                48396
Body                       220
LasActivityDate              0
Title                    48396
Tags                     48396
AnswerCount              48396
CommentCount                 0
FavoriteCount            77605
LastEditorUserId         46456
LastEditDate             46228
CommunityOwnedDate       88197
ParentId                 43484
ClosedDate               89024
OwnerDisplayName         89463
LastEditorDisplayName    90335
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [42]:
merges['ViewCount']=merges['ViewCount'].fillna(0)
merges.describe()

,userId,Reputation,Views,UpVotes,DownVotes,AccountId,Age,postId,PostTypeId,AcceptedAnswerId,Score,ViewCount,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,ParentId
count,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,9.058400e+04,26804.000000,90584.000000,90584.000000,14563.000000,90584.000000,90584.000000,42188.000000,90584.000000,12979.000000,44128.000000,47100.000000
mean,16546.764727,6282.395412,1034.245176,734.315718,33.273249,1.459063e+06,34.398038,56539.080522,1.570222,52459.683101,2.780767,259.253400,1.107424,1.894650,2.538639,12001.855194,48730.970722
std,15273.367108,15102.268670,2880.074012,2050.869327,134.936435,1.364242e+06,13.613334,33840.307529,0.612865,33454.931261,4.948922,1632.261405,1.490476,2.638704,5.938384,13416.244619,34033.547758
min,-1.000000,1.000000,0.000000,0.000000,0.000000,-1.000000e+00,13.000000,1.000000,1.000000,5.000000,-19.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,1.000000
25%,3437.000000,60.000000,5.000000,1.000000,0.000000,2.813240e+05,27.000000,26051.750000,1.000000,22246.500000,1.000000,0.000000,0.000000,0.000000,1.000000,919.000000,18029.500000
50%,11032.000000,396.000000,45.000000,22.000000,0.000000,1.064678e+06,32.000000,57225.500000,2.000000,50136.000000,2.000000,0.000000,1.000000,1.000000,1.000000,7290.000000,45268.000000
75%,27700.000000,4460.000000,514.250000,283.000000,8.000000,2.376872e+06,41.000000,86145.250000,2.000000,80638.500000,3.000000,111.000000,2.000000,3.000000,2.000000,21980.500000,77444.000000
max,55746.000000,87393.000000,20932.000000,11442.000000,1920.000000,5.026998e+06,94.000000,115378.000000,7.000000,115345.000000,192.000000,175495.000000,136.000000,45.000000,233.000000,55733.000000,115375.000000

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [43]:
merges['ViewCount']=merges['ViewCount'].astype('int64')
merges.dtypes

userId                            int64
Reputation                        int64
CreationDate             datetime64[ns]
DisplayName                      object
LastAccessDate           datetime64[ns]
WebsiteUrl                       object
Location                         object
AboutMe                          object
Views                             int64
UpVotes                           int64
DownVotes                         int64
AccountId                         int64
Age                             float64
ProfileImageUrl                  object
postId                            int64
PostTypeId                        int64
AcceptedAnswerId                float64
CreaionDate              datetime64[ns]
Score                             int64
ViewCount                         int64
Body                             object
LasActivityDate          datetime64[ns]
Title                            object
Tags                             object
AnswerCount                     float64
CommentCount                      int64
FavoriteCount                   float64
LastEditorUserId                float64
LastEditDate             datetime64[ns]
CommunityOwnedDate       datetime64[ns]
ParentId                        float64
ClosedDate               datetime64[ns]
OwnerDisplayName                 object
LastEditorDisplayName            object
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.